.header {
    display: flex;
    background: #424249;   
    color: white; 
    font-family: 'Righteous', cursive; ;
    font-size: 30px;
    justify-content: space-between;
    align-items: center
}

h1 {
    color: #faf8f8;
    justify-content: left;
    font-family:'Righteous', cursive; ;
    font-size: 70px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px
    }

